{% render 'partials/head.liquid', title: 'Van der Linden Elektrotechniek, Leverancier Jieldé lampen' %}

<main class="main-index">
  <section>
    <h1 class="h1-font">Van der Linden Elektotechniek</h1>
    <a class="btn-trans" href="#" class="btn-reverse">Ontdek</a>
    <a class="btn-black" href="#" class="btn">Shop nu</a>
    <p>
      Van Der Linden Elektrotechniek en Verlichting is gespecialiseerd in alles wat in en om het huis met elektriciteit
      en verlichting te maken heeft.
    </p>
    <div></div>
  </section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
</main>

{% render 'partials/foot.liquid' %}
