{% render 'partials/head.liquid', title: 'Van der Linden Elektrotechniek, Leverancier Jieldé lampen' %}

<main>
  {% for product in producten %}
    <article>
      <a href="/lamp/{{ product.id }}">
        {{ product.name }}
      </a>
    </article>
  {% endfor %}
</main>

{% render 'partials/foot.liquid' %}
